.dashboard-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    
}
.header{
    display: flex;
    margin-top: 4px;
    justify-content: space-around;
    position: relative;

}
.left{
    display: flex;
    height:40px;
    align-items:center;    
    justify-content: space-around;
    flex-wrap: wrap;
    flex:0.34 1 0;
    gap:0.5rem;
    flex-wrap: nowrap;
}
.right-wrapper{
    display: flex;
    align-items: center;
    gap:10px;
    position:relative;
}
.hamburger{
    font-size: 1.5em;
    cursor:pointer;    
    display: none;
}

.Searchbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid black;
    border-radius: 100px;
    flex:0.35 1 0;
    max-width: 300px;
}
.left-search{ 
    
    display: flex;
    height: 100%;
    border-radius: 100px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    justify-content: space-around;
    align-items: center;
    flex: 0.25 1 0;
    padding-left: 10px;
}
.right-search{
    
    flex:1 1 0;
    display: flex;
    justify-content: center;
    padding-right: 10px;
}
.right{
    flex:0.45 1 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}
.line{
    background-color: rgb(223, 209, 209);
    height: 1px;
    border: none;
    margin: 5px 0px;
}
.right-open{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    z-index: 100;
    border-radius: 10px;
    justify-content: flex-start;    
}

@media screen and (max-width:700px){
    .right{
        display: none;
    }
    .hamburger{
        display: block;
    }
}

.Product-list-container{
    width: 100%;
    height: 100%;
}
.Product-grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
    gap:10px;
    width: 100%;
    height: 100%;
    background-color: rgb(240, 241, 241);


}
.product-cart{
    
    background-color: rgb(255, 255, 255);
    flex: 0 0 31%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.product-cart img{
    width: 100%;
    object-fit: contain;
    height: 100%;
    width: calc(100% - 20px);

}
.product-cart p1{
    font-size: 0.6em;
    display:-webkit-box;
    -webkit-box-orient: vertical ;
    -webkit-line-clamp: 1;
    overflow: hidden;    
    text-overflow: ellipsis;
    word-break: normal;
    padding:  5px 10px ;
    word-wrap: normal;
}
.product-cart p2{
    font-size: 0.8em;
    padding: 5px;
}
h2{
    margin:0px;
    margin-bottom: 40px;
}
.password-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
.password-wrapper input{
    width: 75%;  
    position: relative;    
    
}
.toggle-eye{
    position: absolute;
    right:  50px;
    top: 50%;
    transform: translateY(-50%);

   

}
@media  screen and (max-width:500px) {    
    .product-cart{    
        flex: 0 0 46.5%;    
    }
}
@media screen and (min-width:769px){
    .product-cart{
        flex: 0 0 23.5%;
    }
}