.loginPage-Container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 300px;       
    height: 400px;
    background-color: azure;    
    border: 2px solid black;
    box-shadow: 4px 2px 7px black;
}
.Login-Form{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.Login-Form button{
    padding:0px;
    border:0px;
    width: 50%;
    height: 30px;    
    border: 2px solid black;
    box-shadow: 4px 2px 7px black;
    border-radius: 5px;
}
.Login-Form input {
    width: 75%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 4px 2px 7px black;
    height: 25px;
}
.loginPage-Wrapper{
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.product-cart{
    background-color: beige;
}
h2{
    margin:0px;
    margin-bottom: 40px;
}
.password-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
.password-wrapper input{
    width: 75%;  
    position: relative;    
    
}
.toggle-eye{
    position: absolute;
    right:  50px;
    top: 50%;
    transform: translateY(-50%);

   

}