html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0px;
}
#root{
    height: 100%;
}
.LoginForm>h4{
    margin:0px;
}
.LoginForm{
    font-size: clamp(15px,20px,30px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 20px  black;
    height: 60%;
    
    width: 60%;
    min-width: 200px;
    min-height: 300px;
    max-height: 300px;
    max-width: 200px;
    border-radius: 20px;

}   
.LoginForm>input{
    border-radius: 5px;
    margin: 20px 20px;
    margin-top: 2px;
    width: 11.5em;
      
    
    

}
.Sucess-login{
    color:rgb(82, 205, 82);
    font-size: small;
}
.error-login{
    text-align: center;
    font-size: small;
    color: red;
}
.LoginForm>button{
     width: 100px;
     background-color: black;
     color:white;
     font-weight: 700;
     border-radius: 5px;
     padding: 2px;
}
.App{
    height: 100%;
}
.Login-form{
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.LoginForm>h4{
    margin-bottom: 40px;
}